<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no," />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>好友</title>
    <link rel="stylesheet" href="css/aui.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue.dev.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
    <style>
        .letter{width:25px;height:calc(100vh - 95px);top:40px;right:0;flex-direction: column;border-left:1px solid #ddd;}
    </style>
</head>
<body>
<div id="app">
    <header>
        <div class="f1 arrow2"><a class="block opacity-0" href="javascript:history.go(-1)"></a></div>
        <div class="f8">选择</div>
        <div class="f1"></div>
    </header>

    <div class="content">
        <div id="friendlist">
            <template v-if="asort" v-for="(value,key) in asort">
                <p id="la" class="pad-l-1 bg-gray2 line-height-1 color-gray">{{value}}</p>
                <ul>
                    <li v-for="(val,keys) in data" v-if="val.ksort==value" class="flex flex-start-x pad-5-1 border-b-gray">
                        <a :href="'paycart.html?id='+cardid+'&uname='+val.fdata.uname" class="flex flex-start-x"><img class="border-radius-y" :src="val.fdata.avatar_big" alt="" width="45">
                            <div class="pad-l-1 ellipsis">{{val.fdata.uname}}</div></a>
                    </li>
                </ul>
            </template>
        </div>
    </div>

</div>
    <script src="js/init.js"></script>
    <script>

        var vm = new Vue({
            el:'#app',
            data:{
                count:0,
                data:"",
                nowPage:1,
                asort:'',
                cardid:getQueryString('id'),
                choose:0

            },
            created:function(){
                var data={}
                data.uid=user_id
                data.token=token
                //alert(hostUrl+'index.php?app=app&mod=Passport&act=dologin')
                this.$http.post(
                    hostUrl+'index.php?app=app&mod=profile&act=following&tab=following&uid='+user_id,
                    data,
                    {emulateJSON:true}
                ).then(function(res){
                    console.log(res.data);
                    this.data=res.data.data.data;
                    this.asort=res.data.data.asort;
                    this.count=res.data.data.count;
                    this.nowPage=res.data.data.nowPage;

                },function(res){
                    console.log(res.status);
                });
            },
            methods:{
                addf:function (e) {
                    $(e.target).addClass('active');
                    $(e.target).css({bottom: '25px', right: '5px'}).animate({bottom: '100px', right: '5px'}, function () {
                        $(e.target).css({bottom: '25px', right: '5px'})
                    });
                }
            }
        });
    </script>

</body>
</html>