<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no," />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>动态</title>
    <link rel="stylesheet" href="css/aui.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue.dev.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
    <style>
        .conPic{width: 70px;height:0;padding-bottom:70px;overflow: hidden;}
        .comment:before{content: '';position: absolute;width: 0;height:0;border:8px solid transparent;border-bottom:8px solid #eeeef4;top:-16px;right:15px;}
    </style>
</head>
<body>
<div id="app">
    <header>
        <div class="f1"></div>
        <div class="f8">动态</div>
        <div class="f1"><img class="mar-t-5" src="img/camera.png" alt="" width="20"></div>
    </header>

    <div class="content">
        <ul class="">
            <template v-if="data" v-for="(value,key) in data">
            <li class="border-b-2-gray pad-1">
                <div class="flex flex-start-x">
                    <img class="border-radius-y" :src="value.user_info.avatar_big" alt="" width="40">
                    <div class="pad-l-1">
                        <p class="f15">{{value.user_info.uname}}</p>
                        <p class="color-gray f13">{{value.publish_time}}</p>
                    </div>
                </div>
                <p v-if="value.feed_data.type=='post'" class="pad-t-b-1" v-html="value.appbody"></p>
                <p v-if="value.feed_data.type=='postimage'" class="pad-t-b-1">  </p>
                <div v-if="value.feed_data.type=='postimage'" class="mar-b-5">
                    <span v-for="(va,k) in value.var.attachInfo" class="conPic inline-block">
                        <img :src="va.attach_middle" alt="" width="100%">
                    </span>
                </div>
                <div class="liuyan right color-gray" :data-id="value.feed_id">
                    <img class="vmid" src="img/info_icon.png" :data-id="value.feed_id" alt="" width="20">
                    <span class="vmid">{{value.comment_count}}</span>
                </div>
                <ul v-if="value.comment_count>0" class="comment bg-gray2 pad-l-r-1 mar-t-1 re">
                    <li v-for="(va,ky) in value.commentlist.data" class="border-b-gray pad-t-5">
                        <p class="con" :uname="va.user_uname" :data-id="value.feed_id"  :commentid="va.comment_id" v-html="va.content"></p>
                        <p class="color-gray f12 pad-t-b-5">
                            <span>{{va.user_uname}}</span>
                            <span class="pad-l-5">
                                <img class="vmid" src="img/time_icon.png" alt="" width="15">
                                <span>{{va.ctime}}</span>
                            </span>
                        </p>
                    </li>
                </ul>
            </li>
            </template>
        </ul>
    </div>

    <div id="shuru" class="fix col-10 l-b-0 bg-white border-t-gray pad-l-r-5 none" style="height:55px;z-index: 10">
        <div class="flex " style="padding-top: 5px">
            <img src="img/tr_icon.png" alt="" width="40">
            <div class="f1 flex border-b-gray mar-l-r-5">
                <input v-model="message" id="ly" class="f1 border-no outline-no pad-l-5" type="text">
                <img class="mar-l-r-5" src="img/face_icon.png" alt="" width="30">
            </div>
            <img src="img/add_icon.png" alt="" width="40" @click="comment">
        </div>
    </div>

    <footer class="flex center color-666 f13">
        <a href="index.html" class="f1">
            <img src="img/foot_line.png" alt="" width="25">
            <p>在线</p>
        </a>
        <a href="Iinfo.html" class="f1">
            <img src="img/foot_info.png" alt="" width="25">
            <p>消息</p>
        </a>
        <a href="Iaction.html" class="f1  active">
            <img src="img/foot_notice.png" alt="" width="25">
            <p>动态</p>
        </a>
        <a href="Ifriend.html" class="f1">
            <img src="img/foot_friend.png" alt="" width="25">
            <p>好友</p>
        </a>
        <a href="Imy.html" class="f1">
            <img src="img/foot_my.png" alt="" width="25">
            <p>我</p>
        </a>
    </footer>
</div>
    <script>
        /*$('.liuyan ').click(function(){
            $('#shuru').show();
            $('#shuru input').focus();
        })*/
    </script>
    <script src="js/init.js"></script>
    <script>

        var vm = new Vue({
            el:'#app',
            data:{
                data:"",
                showStatus:false,
                message:'',
                condata:{
                    app_name:'public',
                    table_name:'feed',
                    app_uid:0,
                    row_id:0,
                    to_comment_id:0,
                    to_uid:0,
                    app_row_id:0,
                    app_row_table:'feed',
                    content:'',
                    ifShareFeed:'0',
                    comment_old:0,
                    talkbox:0
                }
            },
            created:function(){
                var self=this;
                var data={}
                var uid=getQueryString('uid')==null?'':getQueryString('uid')
                var type=getQueryString('type')==null?'all':getQueryString('type')
                data.uid=user_id
                data.token=token
                this.$http.post(
                    hostUrl+'index.php?app=app&mod=profile&act=feedlist&type='+type+'&uid='+uid,
                    data,
                    {emulateJSON:true}
                ).then(function(res){
                    console.log(res.data);
                    this.data=res.data.data;
                    setTimeout(function () {
                        $('.liuyan').on('click',function (e) {
                            self.condata.row_id=$(this).attr('data-id')
                            self.condata.to_comment_id=0
                            self.message=''
                            $('#shuru').show();
                            $("#ly").focus();
                            e.stopPropagation();
                            //console.log(this)
                            //alert($(this).attr('data-id'))
                        })
                        $('.content').click(function (e) {
                            $('#shuru').hide();
                            //e.stopPropagation();
                        });



                    },100)
                    setTimeout(function () {
                        $('.con').on('click',function (e) {
                            self.message='回复@'+$(this).attr('uname')+'：'
                            self.condata.row_id=$(this).attr('data-id')
                            self.condata.to_comment_id=$(this).attr('comment_id')
                            $('#shuru').show();
                            $("#ly").focus();
                            //console.log(this)
                            //alert($(this).attr('data-id'))
                            e.stopPropagation();
                        })
                    },100)

                },function(res){
                    console.log(res.status);
                });

            },
            methods:{
                getCommentList:function (data) {
                    var data={}

                    data.uid=user_id
                    data.token=token
                    data.app_name='public'
                    data.table='feed'
                    data.row_id=data;
                    this.$http.post(
                        hostUrl+'index.php?app=app&mod=profile&act=getcommentlist',
                        data,
                        {emulateJSON:true}
                    ).then(function(res){
                        console.log(res.data);
                        this.data=res.data.data;
                    },function(res){
                        console.log(res.status);
                    });
                },
                comment:function(){
                    var self=this
                    if(self.message==""){
                        return;
                    }
                    self.condata.content=self.message;
                    var data=self.condata
                    data.uid=user_id
                    data.token=token
                    console.log(data)
                    this.$http.post(
                        hostUrl+'index.php?app=app&mod=profile&act=addcomment',
                        data,
                        {emulateJSON:true}
                    ).then(function(res){
                        console.log(res.data);
                        //this.data=res.data.data;


                    },function(res){
                        console.log(res.status);
                    });
                },
                feed:function () {

                }

            },

        });
    </script>
</body>
</html>