<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no," />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>在线用户</title>
    <link rel="stylesheet" href="css/aui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/lang/CN.css">
    <script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue.dev.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>

    <style>
        .girllist li div{box-shadow: 0 0 0 2px #ededed;}
        .girllist li .pic{height:0;padding-bottom:100%;}
        .girllist .add{width: 35px;height:35px;line-height: 30px;border-radius:50%;background:#fff;border:1px solid #eee;text-align: center;right:15px;bottom:32px;}
        .girllist .add.active{background:none;border:none;}
        .girllist .add img{-webkit-filter: grayscale(1);}
    </style>
</head>
<body>
<div id="app">
    <header>
        <div class="f1"></div>
        <div class="f8">在线用户</div>
        <div class="f1"></div>
    </header>

    <div class="content">
        <ul class="girllist flex flex-r-w flex-start-x" v-if="data">
            <li v-for="(value,key) in data" class="col-5 pad-5 re">
                <div class="bg-gray">
                    <div class="pic border-radius-5 hidden">
                        <a :href="'userinfo.html?uid='+value.uid"><img :src="value.avatar_big" alt="" width="100%"></a>
                    </div>
                    <div class="bg-white pad-5 border-radius-5 flex">
                        <span>{{value.uname}}</span>
                        <img src="img/zuan.png" alt="" width="16">
                        <p class="f1 right ellipsis"></p>
                    </div>
                </div>

                <span class="add ab" :data-fid="value.uid"><img class="vmid" src="img/add_friend.png" alt="" width="20"></span>
            </li>
        </ul>
    </div>

    <footer class="flex center color-666 f13">
        <a href="index.html" class="f1 active">
            <img src="img/foot_line.png" alt="" width="25">
            <p class="lang-online"></p>
        </a>
        <a href="Iinfo.html" class="f1">
            <img src="img/foot_info.png" alt="" width="25">
            <p>消息</p>
        </a>
        <a href="Iaction.html" class="f1">
            <img src="img/foot_notice.png" alt="" width="25">
            <p>动态</p>
        </a>
        <a href="Ifriend.html" class="f1">
            <img src="img/foot_friend.png" alt="" width="25">
            <p>好友</p>
        </a>
        <a href="Imy.html" class="f1">
            <img src="img/foot_my.png" alt="" width="25">
            <p>我</p>
        </a>
    </footer>
</div>


<script>


</script>
    <script src="js/init.js"></script>
<script>

        var vm = new Vue({
            el:'#app',
            data:{
                count:0,
                data:"",
                nowPage:1,

            },
            created:function(){
                var data={}
                data.uid=user_id
                data.token=token
                var self=this
                //alert(hostUrl+'index.php?app=app&mod=Passport&act=dologin')
                this.$http.post(
                    hostUrl+'index.php?app=app&mod=userlist&act=index',
                    data,
                    {emulateJSON:true}
                ).then(function(res){
                    console.log(res.data);
                    this.data=res.data.data.data;
                    this.count=res.data.data.count;
                    this.nowPage=res.data.data.nowPage;
                    setTimeout(function () {
                        $(".girllist li").find('.add').one('click', function(event){
                             console.log(event);
                            console.log(event.target.parentNode.attributes[0].value)
                            $(this).addClass('active');
                            $(this).css({bottom: '25px', right: '5px'}).animate({bottom: '100px', right: '5px'}, function () {
                                $(this).css({bottom: '25px', right: '5px'})
                            });
                            var data={};
                            data.uid=user_id
                            data.token=token
                            data.fid=event.target.parentNode.attributes[0].value
                            self.$http.post(
                                hostUrl+'index.php?app=app&mod=Follow&act=doFollow',
                                data,
                                {emulateJSON:true}
                            ).then(function(res){
                                console.log(res.data);
                            },function(res){
                                console.log(res.status);
                            });
                        });
                    }, 100)
                },function(res){
                    console.log(res.status);
                });
            },
            methods:{
                addf:function (e) {
                    $(e.target).addClass('active');
                    $(e.target).css({bottom: '25px', right: '5px'}).animate({bottom: '100px', right: '5px'}, function () {
                        $(e.target).css({bottom: '25px', right: '5px'})
                    });
                    //z执行关注操作
                    console.log(e)
                }
            }
        });
</script>

</body>
</html>